.ins_img {
    transform: scale(0.9);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ins_text {
    position: absolute;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    top: 360%;
    left: 43%;
}