.navbar-collapse {
    float: right;
}
.navbar {
    padding-top: 10px;
}
.logo {
    width: 175px;
    height: 80px;
}
.btn {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 30px;
    color: #1D2C5F;
    height: 60px;
    margin-left: 40px;
    transform: translateY(-5px);
}
.home-link {
    width: 130px;
    margin-left: 100px;
}
.about-link {
    width: 139px;
    
}
.ins-link {
    width: 222px;
}
.down-link {
    width: 185px;
}
