.about_pic {
    transform: scale(0.9);
}
.arrow_up {
    position: absolute;
    top: 115%;
    left: 5%;
}
.about_text {
    position: absolute;
    top: 29%;
    left: 35.3%;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}