.nav-home {
    background: url('./background.png');
    background-size: cover;
    overflow: hidden;
}
.home {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
}
.h1 {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 48px;
    color: #323E68;
    margin-top: 28%;
    margin-left: 3%;
    margin-right: -10%;
    /* text-align: justify; */
    text-align: center;
}
/* .home .banner-svg {
    margin-left: -10%;
    width: 100px;
} */
.get_button {
    width: 286px;
    height: 64px;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 24px;
    background: #2F3C66;
    border-radius: 30px;
    position: absolute;
    /* top: 15%; */
    margin-top: 3%;
    margin-left: 8%;
    color: #FFFFFF;
    width: 286px;
    height: 64px;
    text-align: center;
    padding-top: 1%;
}
.banner_svg {
    transform: scale(0.9);
}
