.down_box {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10%;
    margin-bottom: 10%;
}

.download_head {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 48px;
    letter-spacing: -0.58px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    top: 52%;
    left: 41%;
}